In [11]:
# install.packages("maps")
# install.packages("mapdata")
# install.packages("ggplot")

library(lubridate)
library(ggplot2)
library(stringr)
library(maps)
library(mapdata)

In [29]:
## Importing my data
data <- read.csv(url("https://www.evl.uic.edu/aej/424/litterati%20challenge-65.csv"))

In [32]:
## Cleaning my data
# Convert Types
data$lat <- as.numeric(as.character(data$lat))
data$lon <- as.numeric(as.character(data$lon))
data$tags <- as.character(data$tags)

# Username
data$username <- gsub("litterati", "user", data$username)

# tags (untagged)
data$tags[nchar(data$tags) == 0] <- "untagged"

# Lon & Lat
data <- subset(data, lat > 41.85589 & lat < 41.889 & lon < -87.8 & lon > -87.8398)

In [34]:
## Confirming the above works
unique(data$username)
NROW(data)

 [1] "julieta"              "user-73940"           "maro-"
 [4] "rerunvonlinus"        "betivere"             "lyons-forest-park-il"
 [7] "Julianne B"           "drjoerocx"            "ann-66"
[10] "pamiela"              "jill-wagner"          "user-119389"
[13] "dimsum22"             "jlv"                  "user-126822"
[16] "user-127490"          "user-64263"           "mary-40"
[19] "miguelp"              "serenity"             "piehead"
[22] "mwoe"                 "user-117766"          "user-115453"
[25] "maggie_ita"           "mirmaid"              "Andrea"
[28] "user-57379"           "c-and-h"              "akira28"
[31] "etta"

[1] 11735

In [36]:
# data.username (top 10 usernames)
data.username <- as.data.frame(table(data$username))
order.username <- order(data.username$Freq,  decreasing=TRUE)
data.username <- data.username[order.username, ]
colnames(data.username) <- c("Usernames", "Count")
data.username[1:10, ]

   Usernames     Count
12 julieta       5893
9  jill-wagner   2551
15 maro-          922
4  betivere       632
11 Julianne B     602
31 user-73940     540
22 rerunvonlinus  129
23 serenity        80
27 user-126822     78
6  dimsum22        74

In [52]:
# Plotting top ten usernames
states <- map_data("state")
illinois <- subset(states, region %in% c("illinois"))

ERROR: Error in fortify(data): object 'il_county' not found

In [ ]:
plot <- ggplot() + 
        geom_polygon(data=illinois, aes(x=long, y=lat, group=group), color="black") + 
        # geom_polygon(data=il_county, color="white") +
        coord_fixed(1.3) 

plot